div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation: color-box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes color-box{
    0%{
        background-color: red;
        transform: translate(0, 0);
    }
    20%{
        background-color: blue;
        transform: translateY(500px);
    }
    40%{
        background-color: greenyellow;
        transform: translate(500px, 500px);
    }
    60%{
        background-color: yellow;
        transform: translate(500px, 0);
    }

    80%{
        background-color: red;
        transform: translate(0,0);
    }
}